<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu and Services Offered</title>
</head>
<body>

{% extends "layout.html" %}
{% block content %}
    <h1>Menu and Offered Services</h1>
<p></p>
        <h2 >PASS-AROUND COCKTAIL MENUS</h2> <p></p>
            <h3> MENU I </h3>
                <ul>
                    <li>Stuffed Rolled Tenderloin Beef with Black Olives and Capers In Garlic Gravy</li>
                    <li>Chicken Lemon Oregano Kebabs with Tzatsiki</li>
                    <li>Tuna Maki Rolls</li>
                    <li>Mini Pizza Bruschetta</li>
                    <li>Colored Nachos with Mango Salsa Dressing</li>
                    <li>Vegetable Sticks with Light Wasabi Dip</li>
            <li>Honey Melon with Black Tapioca</li>
            <li>Malunggay Iced Iea / Cucumber Lemonade</li>
        </ul>
            <h3> MENU II </h3>
                <ul>
                    <li>Silvered garlic papriki salpicao</li>
                    <li>Hainan chicken ginger on spoons </li>
                    <li>Mini mushroom burgers or Mini Pizza Margheritta bruschetta</li>
                    <li>Colored nachos with mango salsa dressing</li>
                    <li>Vegetable sticks with light wasabi dip</li>
                    <li>Sliced Fruits with Strawberry Yogurt</li>
                    <li>Malunggay iced tea /Cucumber Lemonade</li>
                </ul>
                    <ul>Inclusions:
                        <li>Cocktail table set-up</li>
                        <li>Free Flowing Water, House Blend Iced Tea, Cucumber Lemonade Or Pink Guava Juice </li>
                        <li>Glasses (for wine, water and juice) </li>
                        <li>Ice and Coolers </li>
                        <li>Uniformed Waiters</li>
                        <div class="pricepoint">Price: Php 575.00/PAX + 10% Service Charge</div>
                    </ul>

{% endblock content %}

</body>
</html>